@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  font-size: 15px;
  background: hsl(233, 47%, 7%);
  font-family: "Inter";
}

h1 {
  font-family: "Inter";
  color: hsl(0, 0%, 100%);
}

.container {
  width: 90%;
  height: fit-content;
}

.card {
  background-color: hsl(244, 38%, 16%);
  border-radius: 10px;
  /* overflow: hidden; */
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.header {
  order: 1;
  width: 100%;
  min-height: 30vh;
  background-image: url("./images/image-header-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.accent {
  color: hsl(277, 64%, 61%);
}

.overlay.accent {
  background: hsla(277, 64%, 61%, 0.7);
}

.main {
  order: 2;
  padding: 3em;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.main > * {
  margin-bottom: 1em;
}

.heading {
  font-size: 1.75em;
  font-weight: 700;
}

.text {
  color: hsla(0, 0%, 100%, 0.75);
}

.stats {
  /* background-color: yellow; */
  /* padding-top: 2em; */
  margin-top: 1em;
}

.stat {
  /* background-color: green; */
  margin-bottom: 1em;
}

.stat-num {
  font-size: 1.3em;
  margin-bottom: 0.5em;
}

.stat-head {
  text-transform: uppercase;
  font-size: 0.9em;
  color: hsla(0, 0%, 100%, 0.6);
}

@media screen and (min-width: 1000px) {
  .container {
    width: 55%;
  }
  .card {
    flex-direction: row;
    border-radius: 10px;
    overflow: hidden;
  }
  .header {
    order: 2;
    width: 45%;
    background-image: url("./images/image-header-desktop.jpg");
    border-radius: 0 10px 10px 0;
  }
  .main {
    order: 1;
    width: 55%;
    text-align: left;
  }
  .stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}
